<form name="double" ng-submit="submitNaturalCaveForm()">
	<label>{{labelOne}}</label>
	<input name="X1" type="text" placeholder="X" ng-model="X1" required>
	<input name="Y1" type="text" placeholder="Y" ng-model="Y1" required>
	<input name="Z1" type="text" placeholder="Z" ng-model="Z1" required>
	<label>{{labelTwo}}</label>
	<input name="X2" type="text" placeholder="X" ng-model="X2" required>
	<input name="Y2" type="text" placeholder="Y" ng-model="Y2" required>
	<input name="Z2" type="text" placeholder="Z" ng-model="Z2" required>
	<label>Width</label>
	<input name="W" type="text" placeholder="W" ng-model="W" required>
	<button type="submit" class="button small radius">Add</button>
	<button type="button" class="button small radius" ng-click="naturalCaveComplete()">Complete</button>
</form>

